{% extends 'base.html' %}
{% block header %} Профиль пользователя {% endblock %}
{% block content %}
  <h2>Профиль</h2>
  <p>Имя: {{ user.get_full_name }}</p>
  <p>Email: {{ user.email }}</p>
  {% if user.is_authenticated and user.id == request.user.id %}
    <a href="{% url 'edit_profile' %}">Редактировать профиль</a><br>
    <a href="{% url 'account_email' %}">Изменить email</a><br>
  {% endif %}
  <a href="{% url 'user_list' %}">Список пользователей</a><br>
  <a href="{% url 'account_logout' %}">Выход</a>
{% endblock %}
